<!DOCTYPE html>
<html>
<head>
  <title>App</title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "ui", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "editor", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "print", media: "print", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <% if Rails.env.development? %>
    <%= javascript_include_tag "awesome" %>
    <%= stylesheet_link_tag "awesome" %>
  <% end %>
  <% if not Rails.env.development? %>
    <%= setup_browserid() %>
  <% end %>

  <!-- whalesong includes -->
  <script src="http://localhost:8080/collects/runtime.js"></script>
  <script src="http://localhost:8080/collects/library.js"></script>
  <script src="http://localhost:8080/easyXDM-min.js"></script>
  <script src="http://localhost:8080/repl.js"></script>
  
</head>
<body>
<% if Rails.env.development? %>
  <div id="awesome-panel"></div>
<% end %>

<% if authenticated? %>
<%= logout_link  %>
<% else %>
<%= login_link "Login" %>
<% end %>

<% if masquerading? %>
<%= link_to "End Masquerade", "/end_masquerade", "data-no-turbolink" => true %>
<% else %>
<%= link_to "Begin Masquerade", "/begin_masquerade", "data-no-turbolink" => true %>
<% end %>

<%= yield %>

</body>
</html>
