<!DOCTYPE html>
<html>
<head>
  <title>App</title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= setup_browserid() %>
</head>
<body>
<% if authenticated? %>
<%= logout_link  %>
<% else %>
<%= login_link "Login" %>
<% end %>

<%= yield %>

</body>
</html>
