<!DOCTYPE html>
<html>
<head>
  <title>App</title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <script>var RAILS_HOST = "<%= "//#{request.env["SERVER_NAME"]}:#{request.env["SERVER_PORT"]}" %>";</script>
  <script>var WHALESONG_URL = "<%= "#{WHALESONG_URL}" %>";</script>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "ui", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "editor", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "print", media: "print", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <!-- whalesong includes -->
  <script src="<%= "#{WHALESONG_URL}/collects/runtime.js" %>"></script>
  <script src="<%= "#{WHALESONG_URL}/collects/library.js" %>"></script>
  <script src="<%= "#{WHALESONG_URL}/easyXDM-min.js" %>"></script>
  <script src="<%= "#{WHALESONG_URL}/repl.js" %>"></script>
  <script src="<%= "#{WHALESONG_URL}/whalesong-ffi.js" %>"></script>

</head>
<body data-no-turbolink>

<%= yield %>

</body>
</html>
