<style>
</style>
<pre id="initial-code" style="display: none"><%= if !@editor.git_ref.nil?; @editor.git_ref.contents; else @editor.path_ref.contents end %></pre>
<script type="text/javascript">

  function updateCode() {
  $("input[name='code']").attr("value", window.editor.getValue());
  return true;
  }

jQuery(function () {
  container = jQuery("#editor");
  var codeContainer = jQuery("<div>");
  container.append(codeContainer);

  var repl = $("<div>").addClass("repl");
  repl.css({height: "100%"});

  window.PANEL = createTabPanel($("#REPL"), { maximizable: true,
                                              minimize: "#editor" });
  PANEL.addTab("Interactions", repl, { cannotClose: true });
  window.REPL = repl;
  window.RUN_CODE = makeRepl(repl);

  window.editor = makeEditor(codeContainer,
                           { initial: $("#initial-code").text(),
                             cmOptions: { lineNumbers: true },
                             run: window.RUN_CODE });

});

</script>

<div id="REPL" class="replContainer"></div>


<div id="editor">
<%= form_tag(editor_path, method: "post", style: "display: inline") do %>
 <%= submit_tag("Create New Editor") %>
<% end %> | Editors:
<% @all_editors.each do |ed| %>
<%= link_to ed.title, editor_path(ed.uid), "data-no-turbolink" => true %>
|
<% end %>
<br/><br/>

<%= form_tag(editor_path(@editor.uid), method: "put") do %>
<%= hidden_field_tag(:code, "") %>
<%= label_tag(:title, "Title:") %>
<%= text_field_tag(:title, @editor.title) %>
<%= submit_tag("Save Editor", :onclick => "return updateCode()") %>
<% end %>

<span>Switch Version:</span>
<% @editor.path_ref.versions.each do |commit| %>
<% if commit[:oid] == @editor.current_git_oid %>
<span style="font-weight: bold"><%= commit[:time] %></span>
<% else %>
<%= form_tag(editor_switch_path(@editor.uid), method: "post", style: "display: inline") do %>
<%= hidden_field_tag(:hash, commit[:oid]) %>
<%= submit_tag("#{commit[:time]}") %>
<% end %>
<% end %>
<% end %>

</div>
<%= render "shared/whalesong" %>
