<script src="http://<%= @WHALESONG_URL %>/collects/runtime.js"></script>
<script src="http://<%= @WHALESONG_URL %>/collects/library.js"></script>
<script src="http://<%= @WHALESONG_URL %>/easyXDM-min.js"></script>
<script src="http://<%= @WHALESONG_URL %>/repl.js"></script>
<script src="http://<%= @WHALESONG_URL %>/CodeMirror/lib/codemirror.js"></script>
<link rel="stylesheet" href="http://<%= @WHALESONG_URL %>/CodeMirror/lib/codemirror.css">
<script src="http://<%= @WHALESONG_URL %>/CodeMirror/mode/pyret/pyret.js"></script>

<style>
  .CodeMirror { border: 1px solid black; background: #262626; color: #cccccc; }
  .CodeMirror div.CodeMirror-cursor { border-left: 1px solid #cccccc; }
  .cm-s-default .cm-builtin { color: #66cdaa; }
  .cm-s-default .cm-comment { color: #add8e6; }
  .cm-s-default .cm-function-name { color: #66cdaa; font-weight: bold; }
  .cm-s-default .cm-keyword { color: #68838b; font-weight: bold; }
  .cm-s-default .cm-string { color: #87cefa; }
  .cm-s-default .cm-variable { color: #8b7355; font-weight: bold; }
  .cm-s-default .cm-type { color: #87ceeb; font-weight: bold; }
  .cptteach-fixed { background: #484848; }

  /* from http://codemirror.net/demo/resize.html */
  .CodeMirror {
  height: auto;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}
</style>
<pre id="initial-code" style="display: none"><%= if !@editor.git_ref.nil?; @editor.git_ref.contents; else @editor.path_ref.contents end %></pre>
<script type="text/javascript">

  function updateCode() {
  $("input[name='code']").attr("value", window.editor.getValue());
  return true;
  }
  
jQuery(function () {
  container = jQuery("#editor");

  /*var instructions = jQuery("<div>");
  instructions.html(this.instructions);*/
   
  var replContainer = jQuery("<div>");
  var codeContainer = jQuery("<div>");
  container.append(codeContainer);
  container.append(replContainer);

  var runFun = makeRepl(replContainer);
  window.editor = makeEditor(codeContainer,
                           { initial: $("#initial-code").text(),
                             run: runFun });

/*  var doc = this.editor.getDoc();
  doc.setValue("fun immutableHeader(aParam :: aType):\neditable text\nend");
  doc.markText(CodeMirror.Pos(0, 0), CodeMirror.Pos(1, 0), 
        {className: 'cptteach-fixed', readOnly: true, inclusiveLeft: true});
  doc.markText(CodeMirror.Pos(2, 0), CodeMirror.Pos(3, 0),
        {className: 'cptteach-fixed', readOnly: true, inclusiveRight: true}); */
});
  
</script>

<%= form_tag(editor_path, method: "post", style: "display: inline") do %>
 <%= submit_tag("Create New Editor") %>
<% end %> | Editors:
<% @all_editors.each do |ed| %>
<%= link_to ed.title, editor_path(ed.uid), "data-no-turbolink" => true %>
|
<% end %>
<br/><br/>

<%= form_tag(editor_path(@editor.uid), method: "put") do %>
<%= hidden_field_tag(:code, "") %>
<%= label_tag(:title, "Title:") %>
<%= text_field_tag(:title, @editor.title) %>
<%= submit_tag("Save Editor", :onclick => "return updateCode()") %>
<% end %>

<span>Switch Version:</span>
<% @editor.path_ref.versions.each do |commit| %>
<% if commit[:oid] == @editor.current_git_oid %>
<span style="font-weight: bold"><%= commit[:time] %></span>
<% else %>
<%= form_tag(editor_switch_path(@editor.uid), method: "post", style: "display: inline") do %>
<%= hidden_field_tag(:hash, commit[:oid]) %>
<%= submit_tag("#{commit[:time]}") %>
<% end %>
<% end %>
<% end %>


<div id="editor"></div>
