<h3>Options</h3>
<div class="options-box">
<%= form_tag(set_send_email_path) %>
<%= label_tag(:send_email, "Send me email notifications about reviews") %>
<%= check_box_tag "send_email", "send_email", @user.send_email %>
<%= submit_tag("Update") %>
</div>

<% if @student_courses.length != 0 %>
  <h3>Courses I'm Taking:</h3>
  <% @student_courses.each do |c| %>
     <div class='course'>
       <h4><%= c.title %></h4>
       <ul>
         <% c.assignments.each do |a| %>
         <% if (a.release and (a.release < Time.now)) %>
         <li><%= link_to a.path_ref.path, assignment_path(a.uid) %></li>
         <% end %>
         <% end %>
       </ul>
     </div>
  <% end %>
<% end %>

<% if @teacher_courses.length != 0 %>
  <h3>Courses I'm Teaching:</h3>
  <% @teacher_courses.each do |c| %>
  <div class='course'>
    <h4><%= link_to c.title, c %></h4>
    <ul>
      <% c.assignments.each do |a| %>
      <li><%= link_to a.path_ref.path, assignment_path(a.uid) %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
<% end %>
