
  <%= stylesheet_link_tag    "jasmine", media: "all" %>
  
  <!-- include spec files here... -->
  <%= javascript_include_tag "jasmine" %>
  <%= javascript_include_tag "jasmine-html" %>
  <%= javascript_include_tag "spec/SpecHelper" %>
  <%= javascript_include_tag "spec/server_tests.js" %>

  <script type="text/javascript">
    (function() {
      var jasmineEnv = jasmine.getEnv();
      jasmineEnv.updateInterval = 1000;

      var htmlReporter = new jasmine.HtmlReporter();

      jasmineEnv.addReporter(htmlReporter);

      jasmineEnv.specFilter = function(spec) {
        return htmlReporter.specFilter(spec);
      };

      var currentWindowOnload = window.onload;

      window.onload = function() {
        if (currentWindowOnload) {
          currentWindowOnload();
        }
        execJasmine();
      };

      function execJasmine() {
        jasmineEnv.execute();
      }

    })();
  </script>

<script>
var TESTDATA = <%= raw(@data) %>;
console.log("The index for the user is: ", TESTDATA.user_index);
</script>


<div id="review-editor"></div>
